.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
.registration-form {
    margin-top: 70px;
    border: 5px solid rgb(99, 178, 196);
    height: 110vh;
    border-radius: 18px;
    display: flex;
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background: linear-gradient(105deg, #b779ed, #fed152);
}
.form-group {
  margin-bottom: 15px;
}
.registration-form button {
  width: 20%;
  background-color:  rgb(99, 178, 196);
  color: #ffffff;
  transition:  all 0.5s;
  height: 40px;
 }
.registration-form button:hover {
  background-color:  rgb(196, 99, 175);
}
.registration-form h1{
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 20px;
}
.error-message {
  color: red;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .registration-form {
    width: 80%;
    margin-top: 150px;
  }
  .registration-form button{
    width: 40%;
  }
}
 @media (max-width: 480px) {
  .registration-form {
    padding: 20px;
  }
}
    